# Node.js dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Build and cache files
dist/
build/
.cache/
*.tsbuildinfo

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm/

# Debugger configurations
.vscode/launch.json
*.log
